body{
	padding : 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;





	}
	#container
{
	margin: 0 0px;
	background: #333;
}

#header
{
	background: #222;
	padding: 20px;
	text-transform: uppercase;
	text-align: center;
	color :  #eee;

}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
	height: 100%;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	clear: left;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	background-color: #555;
	opacity: 0.83;
	color:  #eee;
}

#edito h2
{
	color: #fff;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{

	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
background-color: #555;
color: #eee;
	opacity: 0.83;
}

#news a{
	color:  #e8fffb ;
	transition :0.2s;
}
#news a:hover{
	color: #6cffe7;
}

#footer
{
	clear: both;
	background: #222;
	text-align: right;
	padding: 20px;
	height: 1%;
	color: #eee;
	position: absolute;
	bottom: 0;
	width: 100%;

}
